.dadosTarefas{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    color: #4EA8DE;
    font-weight: bold;
}

.dadosTarefas span{
    color: #D9D9D9;
    background-color: #1d1a1a;
    padding: 2px 8px;
    border-radius: 999px;
    font-size: small;
}

.semTarefas{
    color: #c7c3c3;
    text-align: center;

} 

.iconEmpty{
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
